@use './assets/mixing' as *;
@use './assets/vars' as *;

body {
    background-color: black;
    width: 100vw;
    margin: 0 auto;
}

.container {
    background-color: white;
    margin: 50px auto;
    padding: 50px;
}

.listCard {
    // border: solid 1px black;
    // background-color: white;
    margin: 2em auto;
    padding: 1em;
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, .2);
    border-radius: 5px;
    border: solid 1px lightgrey;
    .listHeader {
        display: flex;
        // flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;
    }
    .listItem {
        display: flex;
    }
}
    
    .listName:hover {
        cursor: pointer;
    }
      

.utilButton {
    margin: 0px 5px;
    &:hover {
        cursor: pointer;
    }
}

.settingsButt {
    &:hover {
        cursor: pointer;
    }
}

.BLUE {
    background-color: $color-blue;
}
.PURPLE {
    background-color: $color-purple;
}
.PINK{
    background-color: $color-pink;
}
.ORANGE {
    background-color: $color-orange;
}
.GREEN {
    background-color: $color-green;
}
.NONE {
    background-color: white;
}